<div class="welcome">
   <h1>Tervetuloa Lahjavinkit-sivustolle!</h1>
   <p>Joopa joo!</p>
   <body>
		<nav class="navbar navbar-default">
		    <div>
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="/pages/welcome">Etusivu</a></li>
		        <li><a href="/gifts">Lisää lahjavinkki</a></li>
		        <li><a href="/pages/about">About</a></li>
		        <li><a href="#">Page 3</a></li>
		      </ul>
		    </div>
		</nav>
   </body>
</div>