<h1>Hakutulokset</h1>
<% if @search.search_gifts.empty? %>
	<p>Haullasi ei löytynyt tuloksia.</p>
<% else %>
	<% @search.search_gifts.each do |c| %>
		<div>
			<h2>Nimi: <%= c.title %></h2>
			<p>Kuvaus: <%= c.description %> </p>
			<p>Sukupuoli: <%= c.gender %></p>
			<p>Ikä: <%= c.age %></p>
		</div>
	<% end %>
<% end %>